.container-body {
  margin-bottom: 5%;
}
.media-poster {
  width: 150px;
  height: 200px;
}
.label-global {
  position: absolute;
  padding: 0.5em 0.6em;
  margin: -10px 0 0 125px;
  border-radius: 45%;
}
.jumbotron {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.jumbotron p {
  font-size: 15px;
}
.alphabet{
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
}
.liste {
  display: flex;
  flex-wrap: wrap;
}
.desc {
  margin: auto;
}
.affiche {
  width: 150px;
  margin: 10px;
}
.no-photo {
  filter: grayscale(100%);
}
.no-photo:hover {
  filter: none;
  cursor: pointer;
}
.form-control {
  background-color: #222222; /* pour themeCyborg.css */
}
.container-form-radios {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.media-type, .media-status {
  width: 100%;
}
input {
  margin: 10px 0; /* pour themeCyborg.css */
}
input:focus {
  color: #fff; /* pour themeCyborg.css */
}
input[type=text], #medias_description {
  color: #fff;
}
input[type=radio] {
  margin: 1%;
}
h1 {
  color: #888888; /* pour themeCyborg.css */
}
h3 {
  text-align: center;
  margin-bottom: 30px;
}
.radio {
  line-height: 2.1;
  margin-left: 20px;
}
.radio label {
  padding-left: 10px;
  cursor: default;
}
#optionsRadios1, #optionsRadios2 {
  cursor: pointer;
}

/*MODAL*/
.modal-dialog {
  width: 70%;
}
/*.modal-content{
  background-color: #F9F9F9;
}*/ /* pour le theme app.css */
.modal-header {
  text-align: center;
  color: #fff; /* pour themeCyborg.css */
  border-bottom: none;
}
.modal-body {
  display: flex;
  padding-bottom: 40px;
}
.modal-body img {
  margin-left: 35px;
}
.description {
  width: 70%;
  margin: auto;
  color: #EAEAEA;
}
.bandeAnnonce:hover {
  font-weight: bold;
  text-decoration: none;
}
#medias_type_1, #medias_status_1 {
  margin-left: 1%;
}
#medias_description {
  height: 10em;
}

/* UPDATE MEDIA */
.container-media {
  display: flex;
  justify-content: space-between;
}
.container-image {
  width: 25%;
}
.container-image img {
  width: 100%;
}
.container-form {
  width: 70%;
}